# Bike Sharing Assignment
##### - By Vivek Shand

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels
import statsmodels. api as sm
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
import warnings
warnings.filterwarnings('ignore')

# Reading the file

In [3]:
df=pd.read_csv('Downloads\\cars_ds_final_2.csv')
df.head()

,Sr_no,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,0,Tata,Nano Genx,Xt,292667,624,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tata,Nano Genx,Xe,236447,624,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tata,Nano Genx,Emax Xm,296661,624,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Tata,Nano Genx,Xta,334768,624,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Tata,Nano Genx,Xm,272223,624,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.head(30)

,Sr_no,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,0,Tata,Nano Genx,Xt,292667,624,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tata,Nano Genx,Xe,236447,624,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tata,Nano Genx,Emax Xm,296661,624,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Tata,Nano Genx,Xta,334768,624,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Tata,Nano Genx,Xm,272223,624,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Tata,Nano Genx,Xma,314815,624,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Datsun,Redi-Go,D,279650,799,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Datsun,Redi-Go,T,351832,799,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Datsun,Redi-Go,A,333419,799,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Datsun,Redi-Go,S,362000,799,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,Datsun,Redi-Go,1.0 S,390000,999,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,Datsun,Redi-Go,1.0 S Amt,437065,999,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,Renault,Kwid,Rxe 0.8,353290,799,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,Renault,Kwid,Std 0.8,283290,799,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,Renault,Kwid,Rxl 0.8,383290,799,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,Renault,Kwid,Rxt 0.8,413290,799,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,Renault,Kwid,Rxt 1.0,433290,999,3.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,Renault,Kwid,Climber 1.0 Mt,454490,999,3.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,Renault,Kwid,Rxt Amt 1.0,463290,999,3.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,Renault,Kwid,Climber Amt 1.0,484490,999,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,Renault,Kwid,Rxt (O) 1.0,440990,999,3.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,Renault,Kwid,Rxt (O) Amt 1.0,470990,999,3.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,Renault,Kwid,Climber (O) Mt 1.0,462190,999,3.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,Renault,Kwid,Climber (O) Amt 1.0,492190,999,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,Maruti Suzuki,Eeco,5 Str,352136,1196,4.0,4.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,Maruti Suzuki,Eeco,7 Str,380573,1196,4.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,Maruti Suzuki,Eeco,5 Str With Ac+Htr,392967,1196,4.0,4.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,Maruti Suzuki,Eeco,5 Str With Ac+Htr Cng,466057,1196,4.0,4.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,Maruti Suzuki,Eeco,5 Str With Htr Cng,425255,1196,4.0,4.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,Maruti Suzuki,Alto K10,Lxi,377588,998,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Evaluating the dataset

In [5]:
#Droping 'instant' coulmn as it is not going to contribute to the prediction model
df.drop(['Sr_no'], axis = 1, inplace = True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1276 entries, 0 to 1275
Columns: 140 entries, Make to Electric_Range
dtypes: float64(12), int64(2), object(126)
memory usage: 1.4+ MB

### From the above info we can see that there are no null data in the columns
### Data types also look good

In [7]:
# Dropping variable that are not contribution to the target variablble
df.drop(['Valves_Per_Cylinder','Leather_Wrapped_Steering','USB_Ports','Heads-Up_Display','Welcome_Lights','Cruise_Control'], axis = 1, inplace = True)

In [8]:
df.head()

,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Drivetrain,Cylinder_Configuration,Emission_Norm,Engine_Location,...,Heated_Seats,Turbocharger,ISOFIX_(Child-Seat_Mount),Rain_Sensing_Wipers,Paddle_Shifters,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Battery,Electric_Range
0,Tata,Nano Genx,Xt,292667,624,2.0,RWD (Rear Wheel Drive),In-line,BS IV,"Rear, Transverse",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tata,Nano Genx,Xe,236447,624,2.0,RWD (Rear Wheel Drive),In-line,BS IV,"Rear, Transverse",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tata,Nano Genx,Emax Xm,296661,624,2.0,RWD (Rear Wheel Drive),In-line,BS IV,"Rear, Transverse",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tata,Nano Genx,Xta,334768,624,2.0,RWD (Rear Wheel Drive),In-line,BS IV,"Rear, Transverse",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tata,Nano Genx,Xm,272223,624,2.0,RWD (Rear Wheel Drive),In-line,BS IV,"Rear, Transverse",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.drop(['Recommended_Tyre_Pressure','ISOFIX_(Child-Seat_Mount)'], axis = 1, inplace = True)

In [10]:
df.head()

,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Drivetrain,Cylinder_Configuration,Emission_Norm,Engine_Location,...,Cooled_Glove_Box,Heated_Seats,Turbocharger,Rain_Sensing_Wipers,Paddle_Shifters,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Battery,Electric_Range
0,Tata,Nano Genx,Xt,292667,624,2.0,RWD (Rear Wheel Drive),In-line,BS IV,"Rear, Transverse",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tata,Nano Genx,Xe,236447,624,2.0,RWD (Rear Wheel Drive),In-line,BS IV,"Rear, Transverse",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tata,Nano Genx,Emax Xm,296661,624,2.0,RWD (Rear Wheel Drive),In-line,BS IV,"Rear, Transverse",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tata,Nano Genx,Xta,334768,624,2.0,RWD (Rear Wheel Drive),In-line,BS IV,"Rear, Transverse",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tata,Nano Genx,Xm,272223,624,2.0,RWD (Rear Wheel Drive),In-line,BS IV,"Rear, Transverse",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.isnull()

,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Drivetrain,Cylinder_Configuration,Emission_Norm,Engine_Location,...,Cooled_Glove_Box,Heated_Seats,Turbocharger,Rain_Sensing_Wipers,Paddle_Shifters,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Battery,Electric_Range
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,True,True,True,True,True,True
1272,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,True,True,True,True
1273,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,True,True,True,True
1274,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,True,True,True,True,True
1275,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,False,True,True

In [15]:
df=lambda x: if x==Ture else 0

SyntaxError: invalid syntax (<ipython-input-15-bf6ac14ff685>, line 1)

In [16]:
df.replace(to_replace=["True":1,"False":0])

SyntaxError: invalid syntax (<ipython-input-16-000b757a6009>, line 1)

In [ ]:
##### df.replace({'NaN':0})

In [ ]:
# Mapping the numercal value to correspondig string
df.season = df.season.map({1:"spring", 2:"summer", 3:"fall", 4:"winter"})

In [ ]:
df.season.unique()

In [ ]:
df.mnth.unique()

In [ ]:
# Mapping the numercal value to correspondig string
dict_mnth = {1:"Jan",2:"Feb",3:"Mar",4:"Apr",5:"May",6:"Jun",7:"Jul",8:"Aug",9:"Sep",10:"Oct",11:"Nov",12:"Dec"}
df.mnth = df.mnth.map(dict_mnth)

In [ ]:
df.mnth.unique()

In [ ]:
df.weekday.unique()

In [ ]:
# Mapping the numercal value to correspondig string
key_weekday = [6, 0, 1, 2, 3, 4, 5]
val_weekday = ["Sat","Sun","Mon","Tue","Wed","Thu","Fri"]
dict_weekday = dict(zip(key_weekday,val_weekday))
df.weekday = df.weekday.map(dict_weekday)
df.weekday.unique()

In [ ]:
dict_weekday

In [ ]:
df.weathersit.unique()

In [ ]:
# Mapping the numercal value to correspondig string
key_weathersit = [1,2,3]
val_weathersit=["Clear","Mist + Cloudy","Light Snow", ]
dict_weathersit = dict(zip(key_weathersit,val_weathersit))
df.weathersit = df.weathersit.map(dict_weathersit)
df.weathersit.unique()

In [ ]:
df.info()

In [ ]:
sns.pairplot(df)
plt.show()

In [ ]:
columns = ['season','mnth','weekday','weathersit']
sns.set(font_scale = 2)
plt.figure(figsize = (20,20))
for i in enumerate(columns):
    plt.subplot(4,2,i[0]+1)
    sns.boxplot(x=i[1], y='cnt', data = df)
    plt.xticks(rotation = 90)
plt.tight_layout(pad=1.0)
sns.reset_orig()

### Following can be deduced from the above plot
##### 1.If the weather condition is  Clear, Few clouds, Partly cloudy, Partly cloudy the demand is high compared to when other weather conditions.
##### 2. Demand is highest during the month of Jul
##### 3. Demand is highest during fall season
##### 4. The average demand during the various days of the week is more or less the same

In [ ]:
sns.barplot(x=df['holiday'], y=df.cnt, data=df);

### On a holiday the demand of bike a bit less than that on a non holiday. Hence, it isevident that atleast some portion of the population use the bike service to commute for work

In [ ]:
sns.barplot(x=df.workingday, y=df.cnt, hue=df['holiday'], data=df);

### The demand is higher on a non working day when it is not a calender holiday as compared to when its a clender holiday.

In [ ]:
sns.barplot(x=df.yr, y=df.cnt, data=df);

### Demand in 2019 is higher than that in 2018

In [ ]:

plt.figure(figsize = (5,4))
sns.heatmap(df[['temp','hum', 'windspeed','cnt']].corr(), annot = True, cmap="YlGnBu")
plt.show()

### Demand and temparature have a high positive correlation.

## Data Preparation

In [ ]:
#Creating a dummy dataframe
dummy_season = pd.get_dummies(df.season, drop_first = False)

In [ ]:
# Dropping Spring as it corresponds to least demand
dummy_season = dummy_season.drop('spring', axis = 1)
dummy_season.head()

In [ ]:
#Concatenating the dummy column with the actual dataframe
df = pd.concat([df,dummy_season], axis =1)
df.head()

In [ ]:
# Dropping the 'season' column after dummifying is done
df.drop(['season'], axis =1 , inplace = True)

In [ ]:
df.head()

In [ ]:
df.mnth.unique()

In [ ]:
#Creating a dummy dataframe, concatinating and then dorping the actual column
dummy_mnth = pd.get_dummies(df.mnth, drop_first = False)
# Dropping Jan as it corresponds to least demand
dummy_mnth = dummy_mnth.drop('Jan', axis = 1)
df = pd.concat([df,dummy_mnth], axis =1)
df.drop(['mnth'], axis =1 , inplace = True)

In [ ]:
#Creating a dummy dataframe, concatinating and then dorping the actual column
dummy_weekday = pd.get_dummies(df.weekday, drop_first = True)
df = pd.concat([df,dummy_weekday], axis =1)
df.drop(['weekday'], axis =1 , inplace = True)

In [ ]:
#Creating a dummy dataframe, concatinating and then dorping the actual column
dummy_weathersit = pd.get_dummies(df.weathersit, drop_first = False)
# Dropping Light Snow as it corresponds to least demand
dummy_weathersit = dummy_weathersit.drop('Light Snow', axis = 1)
df = pd.concat([df,dummy_weathersit], axis =1)
df.drop(['weathersit'], axis =1 , inplace = True)

In [ ]:
df.info()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_row', None)

In [ ]:
df.head()

# Spliting the dataset into test and train data

In [ ]:
from sklearn.model_selection import train_test_split
np.random.seed(0)
df_train, df_test = train_test_split(df, train_size = 0.7, test_size = 0.3, random_state = 100)

In [ ]:
df_test.shape

In [ ]:
#checking the shape of the train data
df_train.shape

In [ ]:
# Rescaling the train dataset
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
number_vars = ['cnt','temp','hum','windspeed']
df_train[number_vars] = scaler.fit_transform(df_train[number_vars])

In [ ]:
df_train.describe()

In [ ]:
y_train = df_train.pop('cnt')
y_train.head()

In [ ]:
X_train = df_train
X_train.head()

In [ ]:
sns.reset_orig()
plt.figure(figsize = (20,20))
sns.heatmap(X_train.corr(), annot = True, cmap="YlGnBu")
plt.show()

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

In [12]:
lm= LinearRegression()
lm.fit(X_train,y_train)

rfe = RFE(lm,15)
rfe.fit(X_train,y_train)

NameError: name 'X_train' is not defined

In [ ]:
list(zip(X_train.columns,rfe.support_,rfe.ranking_))

In [ ]:
selected_column = X_train.columns[rfe.support_]

In [ ]:
print(selected_column)

In [ ]:
#selected_column = ['yr', 'holiday', 'workingday', 'temp', 'hum', 'windspeed', 'spring',
#     'summer', 'winter', 'Jan', 'Jul', 'Sep', 'Sat', 'Light Snow',
#     'Mist + Cloudy']

In [ ]:
X_train.columns[~rfe.support_]

In [ ]:
X_train_rfe = X_train[selected_column]

In [ ]:
X_train_rfe.head()

In [ ]:
import statsmodels.api as sm

In [ ]:
X_train_rfe.head()

In [ ]:
X_train_lm = sm.add_constant(X_train_rfe)

In [ ]:
X_train_lm.head()

In [ ]:
lr_1 = sm.OLS(y_train,X_train_lm).fit()

In [ ]:
lr_1.params

In [ ]:
lr_1.summary()

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [ ]:
vif = pd.DataFrame()
vif['Feature'] = X_train_rfe.columns
vif['VIF'] = [variance_inflation_factor(X_train_rfe.values,i) for i in range(X_train_rfe.shape[1])]
vif['VIF'] = round(vif['VIF'] , 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

In [ ]:
# Dropping Sun as it has p values > 0.05
X_train_revised1 = X_train_rfe.drop('Sun', axis = 1)

In [ ]:
X_train_revised1.head()

In [ ]:
X_train_lm = sm.add_constant(X_train_revised1)
lr_2 = sm.OLS(y_train,X_train_lm).fit()
lr_2.params

In [ ]:
lr_2.summary()

In [ ]:
vif2 = pd.DataFrame()
vif2['Feature'] = X_train_revised1.columns
vif2['VIF'] = [variance_inflation_factor(X_train_revised1.values,i) for i in range(X_train_revised1.shape[1])]
vif2['VIF'] = round(vif2['VIF'] , 2)
vif2 = vif2.sort_values(by = "VIF", ascending = False)
vif2

In [ ]:
# Dropping 'hum' as teh VIF is high and all other variables have P value < 0.05
X_train_revised2_1 = X_train_revised1.drop(['hum'], axis = 1)

In [ ]:
X_train_revised2_1.head()

In [ ]:
X_train_lm = sm.add_constant(X_train_revised2_1)
lr_3 = sm.OLS(y_train,X_train_lm).fit()
lr_3.summary()

In [ ]:
vif3 = pd.DataFrame()
vif3['Feature'] = X_train_revised2_1.columns
vif3['VIF'] = [variance_inflation_factor(X_train_revised2_1.values,i) for i in range(X_train_revised2_1.shape[1])]
vif3['VIF'] = round(vif3['VIF'] , 2)
vif3 = vif3.sort_values(by = "VIF", ascending = False)
vif3

In [ ]:
# Dropping 'holiday' as the P value is close to 0.05
X_train_revised2_2 = X_train_revised2_1.drop(['workingday'], axis = 1)

In [ ]:
X_train_lm = sm.add_constant(X_train_revised2_2)
lr_4 = sm.OLS(y_train,X_train_lm).fit()
lr_4.summary()

In [ ]:
vif4 = pd.DataFrame()
vif4['Feature'] = X_train_revised2_2.columns
vif4['VIF'] = [variance_inflation_factor(X_train_revised2_2.values,i) for i in range(X_train_revised2_2.shape[1])]
vif4['VIF'] = round(vif4['VIF'] , 2)
vif4 = vif4.sort_values(by = "VIF", ascending = False)
vif4

In [ ]:
# Dropping variable 'Oct' it has high p values
X_train_revised4 = X_train_revised2_2.drop(['Oct'], axis = 1)

In [ ]:
X_train_lm = sm.add_constant(X_train_revised4)
lr_5 = sm.OLS(y_train,X_train_lm).fit()
lr_5.summary()

In [ ]:
vif5 = pd.DataFrame()
vif5['Feature'] = X_train_revised4.columns
vif5['VIF'] = [variance_inflation_factor(X_train_revised4.values,i) for i in range(X_train_revised4.shape[1])]
vif5['VIF'] = round(vif5['VIF'] , 2)
vif5 = vif5.sort_values(by = "VIF", ascending = False)
vif5

In [ ]:
# Dropping 'Sat' as P Values is high
X_train_revised5_1 = X_train_revised4.drop(['Sat'], axis = 1)

In [ ]:
X_train_lm = sm.add_constant(X_train_revised5_1)
lr_6 = sm.OLS(y_train,X_train_lm).fit()
lr_6.summary()

In [ ]:
vif6 = pd.DataFrame()
vif6['Feature'] = X_train_revised5_1.columns
vif6['VIF'] = [variance_inflation_factor(X_train_revised5_1.values,i) for i in range(X_train_revised5_1.shape[1])]
vif6['VIF'] = round(vif6['VIF'] , 2)
vif6 = vif6.sort_values(by = "VIF", ascending = False)
vif6

In [ ]:
# Dropping variable 'temp' as it is high VIF
X_train_revised6 = X_train_revised5_1.drop(['temp'], axis = 1)

In [ ]:
X_train_lm = sm.add_constant(X_train_revised6)
lr_7 = sm.OLS(y_train,X_train_lm).fit()
lr_7.summary()

In [ ]:
vif7 = pd.DataFrame()
vif7['Feature'] = X_train_revised6.columns
vif7['VIF'] = [variance_inflation_factor(X_train_revised6.values,i) for i in range(X_train_revised6.shape[1])]
vif7['VIF'] = round(vif7['VIF'] , 2)
vif7 = vif7.sort_values(by = "VIF", ascending = False)
vif7

### The R-sqaured value drops significantly (from 0.834 to 0.65) hence cannot remove 'temp' variable at this point atleast. Moreover, the 'temp' variable has high correlation with the target variable 'cnt'. Hence, will trying to remove other variables that are correlated with 'temp'.

In [ ]:
sns.reset_orig()
plt.figure(figsize = (20,20))
sns.heatmap(X_train_revised5_1.corr(), annot = True, cmap="YlGnBu")
plt.show()

In [ ]:
# Dropping 'Aug' as the it has high correlation with temp
X_train_revised7 = X_train_revised5_1.drop(['Aug'], axis = 1)

In [ ]:
X_train_lm = sm.add_constant(X_train_revised7)
lr_8 = sm.OLS(y_train,X_train_lm).fit()
lr_8.summary()

In [ ]:
vif8 = pd.DataFrame()
vif8['Feature'] = X_train_revised7.columns
vif8['VIF'] = [variance_inflation_factor(X_train_revised7.values,i) for i in range(X_train_revised7.shape[1])]
vif8['VIF'] = round(vif8['VIF'] , 2)
vif8 = vif8.sort_values(by = "VIF", ascending = False)
vif8

In [ ]:
# Dropping 'Clear' as the Clear has high VIF
X_train_revised8 = X_train_revised7.drop(['Clear'], axis = 1)

In [ ]:
X_train_lm = sm.add_constant(X_train_revised8)
lr_9 = sm.OLS(y_train,X_train_lm).fit()
lr_9.summary()

In [ ]:
vif9 = pd.DataFrame()
vif9['Feature'] = X_train_revised8.columns
vif9['VIF'] = [variance_inflation_factor(X_train_revised8.values,i) for i in range(X_train_revised8.shape[1])]
vif9['VIF'] = round(vif9['VIF'] , 2)
vif9 = vif9.sort_values(by = "VIF", ascending = False)
vif9

### The R-sqaured value drops significantly (from 0.831 to 0.78.7) hence cannot remove 'clear' variable at this point atleast.  Hence, will trying to remove other variables that are correlated with 'clear' and then check the model performance.

In [ ]:
# Dropping the variable 'Mist + Cloudy' as it has high correlation with clear
X_train_revised9 = X_train_revised7.drop(['Mist + Cloudy'], axis = 1)

In [ ]:
X_train_lm = sm.add_constant(X_train_revised9)
lr_10 = sm.OLS(y_train,X_train_lm).fit()
lr_10.summary()

In [ ]:
vif10 = pd.DataFrame()
vif10['Feature'] = X_train_revised9.columns
vif10['VIF'] = [variance_inflation_factor(X_train_revised9.values,i) for i in range(X_train_revised9.shape[1])]
vif10['VIF'] = round(vif10['VIF'] , 2)
vif10 = vif10.sort_values(by = "VIF", ascending = False)
vif10

In [ ]:
lr_10.params

In [ ]:
sns.reset_orig()
plt.figure(figsize = (20,20))
sns.heatmap(X_train_revised9.corr(), annot = True, cmap="YlGnBu")
plt.show()

In [ ]:
# Dropping the variable 'holiday' as it has a p values greater than zero and negative coefficient.
# Will check if it makes the model better or not
X_train_revised10 = X_train_revised9.drop(['holiday'], axis = 1)

In [ ]:
X_train_lm2 = sm.add_constant(X_train_revised10)
lr_11 = sm.OLS(y_train,X_train_lm2).fit()
lr_11.summary()

In [ ]:
vif11 = pd.DataFrame()
vif11['Feature'] = X_train_revised10.columns
vif11['VIF'] = [variance_inflation_factor(X_train_revised10.values,i) for i in range(X_train_revised10.shape[1])]
vif11['VIF'] = round(vif11['VIF'] , 2)
vif11 = vif11.sort_values(by = "VIF", ascending = False)
vif11

In [ ]:
lr_11.params

### R Sqaured value of "lr_11" seems no better  than that of "lr_10".Moreover, Probability of F Statistics is lower for lr_10 (1.09e-174) as compared to lr_11(1.48e-173) .
### Hence, lr_10 seems to be the final model as all the p values are close to zero and the VIF of all the predictor variable is low. Also the difference between the R Squared and Adjusted R Sqaured is low  0.03. Going to procede with Recidual analysis on lr_10

## Residual analysis of the train dataset

In [ ]:
y_train_pred = lr_10.predict(X_train_lm)

In [ ]:
#Residual Analysis on the taining data
# Plot the histogram of the error terms
fig = plt.figure()
sns.distplot((y_train - y_train_pred), hist = False)
fig.suptitle('Error Terms', fontsize = 20)                  # Plot heading 
plt.xlabel('Errors', fontsize = 18)

In [ ]:
X_train_lm.head()

In [ ]:
res = (y_train - y_train_pred)

In [ ]:
res.shape

In [ ]:
## Plotting Temprature V/S residual
sns.scatterplot(X_train_lm.iloc[:,3],res)
plt.show()

In [ ]:
## Plotting Windspeed V/S residual
sns.scatterplot(X_train_lm.iloc[:,4],res)
plt.show()

## Residual analysis look good as the distribution of the residual follows a close to normal curve and is centered at Zero. Moreover, the continuous variable 'temp' and windspeed  do not seem to have any relation with residual. Hence, all the assumptions of Linear regresion hold good.

# Making Predictions Using the Final Model

In [ ]:
df_test.head()

In [ ]:
number_vars = ['cnt','temp','hum','windspeed']

In [ ]:
df_test[number_vars] = scaler.transform(df_test[number_vars])

In [ ]:
y_test = df_test.pop('cnt')

In [ ]:
X_train_lm.columns

In [ ]:
X_test = df_test[['yr', 'holiday', 'temp', 'windspeed', 'summer', 'winter',
       'Sep', 'Clear']]

In [ ]:
X_test.head()

In [ ]:
X_test_lm = sm.add_constant(X_test)

In [ ]:
X_test_lm.head()

# Predictions on the Test Set with lr_10

In [ ]:
y_pred = lr_10.predict(X_test_lm)

In [ ]:
y_pred.head()

### Calculating the R sqaured values of the model to concluded the model peformance

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r_sqaured = r2_score(y_test,y_pred )

In [ ]:
r_sqaured

In [ ]:
lr_10.params

## The r_sqaured on the test data is 0.783 and the Adj. R Sqared on the training is 0.806 (difference is 0.02 which is acceptable)

## The equation of our best fitted line is:

## $ cnt = 0.542823  \times  temp + 0.236508  \times  yr - 0.175609 \times windspeed + 0.121753 \times winter +  0.097640 \times Sep + 0.095313 \times Clear - 0.093357 \times holiday + 0.088988 \times summer + 0.040798 $

## What can be infered from the model is that as temprature has highest positive impact on demand increase.Moreover, the demand trend is an increasing one with year passing by.
## Holidays and windspeed have negative impact on the demand.

## Hence, going by the model BoomBikes should evalute options to increase there demand on holidays once the Coronavirus pendamic ends. Other variables dependent on the weather conditions which cannot be controlled.